{
	box-sizing: border-box;
}
h1 {
	font-family: Brushstroke, fantasy;
    color: black;
    margin-top:20px;
}
body {
	background-color:  white;
}
p {
	padding: 10px;
	margin: 0;
}
.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
.navbar-brand {
    font-size: 2em;
    border: 0 0 10px 10px;
    color: #FFFFFF;
  }
  #header-nav {
    border: 0;
    background-color: rgb(241, 161, 69);
    color: #FFFFFF;
  }
  .navbar-header{
      margin-bottom:20px;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border-color: 1px solid #231c47;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  .nav-header {
    background-color: #E03271;
  }
  .nav-brand {
    color: #FFFFFF;
    font-size: 1.5em;
  }
  #nav-list {
    color: white;
    font-size:25px;
  }
  hr {
    border-color: white;
  }
  .item {
    color: white;
    font-size: 1.2em;
  }
section {
	border:	1px solid black;
	background-color: pink;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}
#chicken {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	color:white;
	background-color:#E03271;
}
#beef {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	color:white;
	background-color:#E03271;
}
#sushi {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color:#E03271;
	color: white;
	padding: 5px;
}
#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}
#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}
#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}
